# instance used if someone has never used the site
ALEXANDRITE_DEFAULT_INSTANCE=lemmy.world

# if the login page should include the lemmy explanation
ALEXANDRITE_WELCOME_LEMMY_HELP=true
#
# if the login page should include links to find an instance
ALEXANDRITE_WELCOME_INSTANCE_HELP=true

# if blank, users can login to any instance, if set users can only login to this instance.
# if this is set, the Lemmy version warning is also hidden, as it's assumed the instance
# hosting Alexandrite has a compatible version.
ALEXANDRITE_FORCE_INSTANCE=
