@font-face {
	font-family: 'Inter';
	src: url('/fonts/Inter.ttf');
	font-display: swap;
}

.responsive-text {
	font-size: var(--sx-font-size-3);
}

@media (max-width: 600px) {
	.responsive-text,
	.responsive-text i,
	.responsive-text button {
		font-size: var(--sx-font-size-2) !important;
	}
}

ul.hover-list {
	display: flex;
	flex-direction: column;
	margin: 0;

	li {
		display: flex;
		align-items: center;
		flex-grow: 1;

		&:hover {
			background: var(--sx-gray-transparent);
			border-radius: 5px;
		}
	}
}

.default-focus-area:focus {
	outline: none;
}

body {
	--sx-arg-app-font: 'Inter', sans-serif;
}

.d-none {
	display: none;
}

$pureThemeSelectors: '.pure-theme, body, header, .sx-accordion, .sx-sidebar, .post-preview-card, .card, fieldset, .sidebar, .page-column-sidebar, .post-container, .markdown-editor, .markdown-editor textarea';
$pureThemeBordered: '.sx-accordion, .post-preview-card, .card, fieldset, .markdown-editor, .markdown-editor textarea';

html.sx-theme-dark.pure-theme {
	fieldset legend span {
		top: 0 !important;
	}

	#{$pureThemeSelectors} {
		background: black !important;
	}

	.sx-accordion {
		border: 1px solid var(--sx-gray-transparent) !important;
	}
}

html.sx-theme-light.pure-theme {
	#{$pureThemeSelectors} {
		background: white !important;
	}
}

html.sx-theme-dark,
html.sx-theme-light {
	&.pure-theme {
		#{$pureThemeBordered} {
			border: 2px solid var(--sx-gray-transparent) !important;
		}
		.markdown-editor textarea {
			border-left: none !important;
			border-right: none !important;
		}
	}
}

.address {
	font-family: monospace, sans-serif;
}

.sx-tooltip .address {
	background: var(--sx-gray-500);
	color: var(--sx-gray-50);
	border-radius: 5px;
	padding: var(--sx-spacing-1);
}
